.faq-container {
  padding-top: 5%;
  padding-bottom: 5%;
}
.accordion {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.accordion-item {
  border-top: 1px solid #ddd;
  border:solid;
  border-radius:2%;
  border-color:gray;
}

.accordion-header {
  padding: 1em;
  cursor: pointer;
  background-color: #f7f7f7;
}

.accordion-body {
  padding: 0 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-body.active {
  max-height: 1000px; /* Valor grande suficiente para acomodar el contenido */
}
